@media only screen and (max-width: 1024px) {
    .chat-box .user-side.chld h4 {
        font-size: 18px;
    }

    .user-side.clickable .optn {
        font-size: 14px;
        line-height: 16px;
    }

    .user-box,
    .client-box {
        line-height: 16px;
    }
}

@media only screen and (max-width: 900px) {

    #screen-container svg,
    #cafeteria-walk svg,
    #insta-selfi svg,
    #busycall-at-work svg,
    #screen-6-next-btn svg,
    #screen-7-games svg,
    #screen-7-game-controls svg,
    #customer-delight svg,
    #customer-delight-icon svg,
    #award-recognition-one svg,
    #award-recognition-two svg,
    #award-recognition-three svg,
    #award-regognition-click-icon svg,
    #team-lead svg,
    #team-lead-next-btn svg,
    #airport-background-animation svg,
    #airport-animation svg,
    #airport-next-btn svg,
    #apply-now-animation svg,
    #apply-share-button svg {
        height: 85% !important;
    }

    .client-side,
    .user-side {
        margin-bottom: 40px;
        width: 100%;
        padding: 5px;
    }

    .user-box,
    .client-box {
        line-height: 13px;
        font-size: 11px;
    }

    .user-side.clickable .optn {
        font-size: 11px;
        line-height: 14px;
    }

    .user-side.clickable {
        padding: 10px;
    }

    .chat-box .user-side.chld h4 {
        font-size: 16px;
    }

    .user-box,
    .client-box {
        padding: 5px;
    }

    .pp-img img {
        width: 25px;
    }

    .user-side .pp-img,
    .client-side .pp-img {
        right: 7px;
        top: -35px;
    }

    .client-side .pp-img {
        left: 7px;
    }

    .circleLoader {
        width: 80px;
        height: 80px;
    }

    .circleLoader .before,
    .circleLoader .after {
        width: 80px;
        height: 80px;
    }

    #percentageLoader {
        font-size: 1.3rem;
    }

    .header .hom-icn img {
        width: 30px;
    }

    .header .hom-icn {
        margin-left: 15px;
    }

    .header .logo img {
        width: 80px;
    }

    #screen4-quest-sec {
        padding-left: 5px;
    }

    .user-side:after {
        right: 7px;
        border-width: 7px;
    }

    .client-side:after {
        left: 16px;
        border-width: 7px;
    }

    .user-side .pp-img,
    .client-side .pp-img {
        right: 2px;
        top: -33px;
    }

    .client-side .pp-img {
        left: 0px;
    }
    #mute-btn {
        width: 25px;
    }
}


@media only screen and (min-device-width : 700px) and (max-device-width : 1200px) and (orientation : portrait) {
    .lndscape-msg {
        display: flex;
    }
}

@media only screen and (min-device-width : 480px) and (max-device-width : 900px) and (orientation : landscape) {
    .hm-ext-popup .optns {
        padding: 20px 40px;
        font-size: 20px;
    }


    .hm-ext-popup .optns a img {
        width: 30px;
        height: 30px;
    }


    .hm-ext-popup .optns a {
        font-size: 16px;
    }

    .hm-ext-popup .optns h4 {
        margin-bottom: 10px;
    }

    .hom-icn {
        top: 15px;
        left: 20px;
    }

    .hom-icn img {
        width: 30px;
    }
}


@media only screen and (min-device-width : 300px) and (max-device-width : 900px) and (orientation : portrait) {
    .lndscape-msg {
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
    }
}


@media only screen and (max-width : 767px) {
    .hm-ext-popup .optns {
        padding: 20px 40px;
        font-size: 20px;
    }


    .hm-ext-popup .optns a img {
        width: 30px;
        height: 30px;
    }


    .hm-ext-popup .optns a {
        font-size: 16px;
    }

    .hm-ext-popup .optns h4 {
        margin-bottom: 10px;
    }

    .hom-icn {
        top: 15px;
        left: 20px;
    }

    .hom-icn img {
        width: 30px;
        height: 30px;
    }

}